we have built a working sankey d3 income statement chart widget. we are now working to make it better and more accurate. 
The key thing we are working on is visually overlapping elements -- we want them all to be visually readable. We want every chart to look good regardless of company.
